<h1>all of the things i have to do!!!!!</h1>

<section>
  <h2>here are the tasks to be completed:</h2>
  <%= form_tag(completed_tasks_path, method: :put)  do %> 

  <ul>
    <% @incomplete_tasks.each do |task| %>
    <li>
      <%= check_box_tag 'task_id[]', task.id %>  
      <%= link_to task.name, task_path( task.id ) %>:
      <%= task.description %> <%= link_to "(Delete)", task_path( task.id ), method: :delete, data: { confirm: "Really really delete?"} %>
    </li>

    <%= submit_tag 'Completed?' %>


    <% end %>
  </ul>
  <% end %>

  <h1>completed tasks</h1>
  <ul>
  <% @completed_tasks.each do |task| %>
    <li> 
      <%= task.name %> - <%= task.description%>
    </li>
    <% end %>
  </ul>
</section>
